h1{
  font-family: sans-serif;
  font-style: bold;
  font-size: 32;
  color: #4d9201;
  text-align: center;
}

p{
  font-family: sans-serif;
  font-size: 16;
  color: #CCC;
  text-align: center;
}

a{
  font-family: sans-serif;
  font-style: italic;
  font-size: 16;
  text-align: center;
}
